@import "tailwindcss";

@theme {
  @keyframes float {
    0%,
    100% {
      transform: translate(0px, 0px) scale(1);
    }
    25% {
      transform: translate(220px, -140px) scale(1.15);
    }
    50% {
      transform: translate(-180px, 120px) scale(0.9);
    }
    75% {
      transform: translate(120px, 160px) scale(1.1);
    }
  }

  --animate-slow-drift: float 12s ease-in-out infinite;
}
